{
  "presets": ["env"],

  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy"
  ],

  "env": {
    "development": {
      "plugins": [
        "typecheck",
        "transform-decorators-legacy"
      ]
    }
  }
}
